#navbar{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
    letter-spacing: 4px;
    color: #333;
    text-transform: uppercase;
}

#navbar:hover{
    cursor: default;
}

#a{
    display: inline-block;
    float: left;
    width: 300px;
}

#b{
    display: inline-block;
    float: right;
    width: 300px;
}

#c{
    width: 640px;
    height: 40px;
    font-size: 16px;
    color: white;
    position: absolute;
    top: 50;
    left: calc(50% - 322px);
    cursor: default;
}

#containerHalf{
    opacity: 0.5;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px);
    transition: all 0.5s ease;
}

#containerHalf:hover{
    opacity: 1;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
}

#container, #containerHalf{
    width: 40%;
    max-width: 300px;
    height: 460px;
    display: inline-block;
    border: 0px;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

#field{
    width: 200px;
    height: 32px;
    color: rgba(208, 2, 27, 0.6);
    font-weight: 500;
    background-color: white;
    font-size: 15px;
    border-radius: 3px;
    border: 0px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.10);
    padding-left: 20px;
    margin-bottom: 20px;
    cursor: default;
}

#submit{
    margin-top: 148px;
}