body{
    font-family: "San Fransisco", "SF Compact Text", "SF Mono Text", "SF Pro Display", "Graphik", "Roboto", "Helvetica", "Avenir", "Calibri";
    font-size: 14px;
    color: #333333;
    background-image: url("../static/img/wall.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    text-transform: lowercase;
}

#bar{
    width: 100%;
    height: 3px;
    background-color: #D0011B;
    position: absolute;
}

#navbar{
    width: auto;
    height: 45px;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.10);
    border-top: 3px solid #D0011B;
}

#navbar ul{
    display: block;
    width: 400px;
    margin: auto;
    text-align: center;
}

#navbar li{
    display: inline-block;
    width: auto;
    margin-right: 5px;
    margin-top: 9px;
    height: 22px;
    border-radius: 3px;
    padding-top: 5px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
}

li a:hover{
    opacity: 0.6;
}

li a{
    text-decoration: none;
    color: #D0011B;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

#logo{
    position: absolute;
    width: 109px;
    height: 27px;
    margin-top: 15px;
    margin-left: 10%;
    text-align: center;
    letter-spacing: 4px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

#logo a{
    transition: all 0.5s ease;
    color: rgba(0, 0, 0, 0.45);
}

#logo a:hover{
    opacity: 0.6;
}

#logoClicked{
    position: absolute;
    width: 109px;
    height: 27px;
    margin-top: 15px;
    letter-spacing: 4px;
    margin-left: 10%;
    text-align: center;
    text-transform: uppercase;
}

#logo a{
    text-decoration: none;
    color: #D0011B;
    font-weight: bold;
}

#logoClicked a{
    text-decoration: none;
    color: #D0011B;
    font-weight: bold;
}

#logoClicked a:hover{
    opacity: 0.6;
}
#redbar{
    width: 100%;
    height: 500px;
    background-color: #D0011B;
    position: absolute;
    text-align: center;
}

#go{
    width: 110px;
    height: 40px;
    background-color: white;
    border: 0px;
    border-radius: 3px;
    position: absolute;
    top: 530px;
    left: calc(50% - 55px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.10);
    color: #D0011B;
    font-size: 14px;
    transition: all 5s ease;
}

#go:hover{
    color: white;
    background-color: black;
    cursor: pointer;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

#sorry img{
    width: 50%;
    height: auto;
    margin: auto;
}

#much{
    width: 50%;
    height: auto;
    text-align: center;
    margin: auto;
}

#much img{
    width: 50%;
    height: auto;
    margin: auto;
}

#logout{
    position: absolute;
    right: 10%;
    width: 100px;
    height: 27px;
    margin-top: 15px;
}

#logout a{
    text-decoration: none;
    color: #E03A3E;
}

#logout a:hover{
    opacity: 0.6;
}

#red{
    background-color: #D0011B;
}

#red a{
    color: white;
}

#title{
    width: 450px;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    display: block;
}

#title h1{
    text-align: center;
    padding-top: 8px;
    font-weight: 500;
    font-size: 28px;
    color: white;
}

#text{
    width: 380px;
    height: 180px;
    margin: auto;
    margin-top: 50px;
    display: block;
    color: white;
}

#text p{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 26px;
    font-size: 14px;
    line-height: 20px;
}

#selects, #selects2{
    width: 200px;
    height: 24px;
    font-size: 16px;
    text-align: center;
    background-color: white;
    color: #D0011B;
    border: 0px;
    display: block;
    margin: auto;
    margin-top: 50px;
}

#selects2{
    margin-top: 30px;
}

#submit, #submit2{
    width: 110px;
    height: 40px;
    background-color: white;
    border: 0px;
    border-radius: 3px;
    display: block;
    margin: auto;
    font-weight: 500;
    margin-top: 149px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.10);
    color: #D0011B;
    font-size: 14px;
    transition: all 0.5s ease;
}

#submit:hover, #submit2:hover{
    color: white;
    background-color: black;
    cursor: pointer;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

#submit2{
    margin-top: 251px;
}
