<html>
    <head>
        <link href="{{ url_for('static', filename='stylesheet.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='rankings.css') }}" rel="stylesheet"/>
        <title>rankings</title>
    </head>
    <body>
        <div id="navbar">
            <div id="logo">
                <a href="index">WHOOPDEEDOO</a>
            </div>
            <div id="profile"><a href="profile">profile</a></div>
            <div id="logout"><a href="/">Logout</a></div>
            <ul>
                <li><a href="play">play</a></li>
                <li id="blue"><a href="rankings">rankings</a></li>
            </ul>
        </div>
        <div id="redbar">
            <div id="title"><h2>well done!</h2></div>
            <div id="points">you have added {{pscore}} points</div>
        </div>
    </body>
</html>
