<html>
    <head>
         <link href="{{ url_for('static', filename='stylesheet.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='game.css') }}" rel="stylesheet"/>
        <title>Game</title>
    </head>
    <body>
        <div id="navbar">
            <div id="logo">
                <a href="index">WHOOPDEEDOO</a>
            </div>
            <div id="logout"><a href="/">logout</a>
            </div>
        </div>
        <div id="redbar">
        <div id="question">
            <p>{{question}}</p>
        </div>
        <form action="{{ url_for('game') }}" method="post">
            <div name="answer" id="options">
                <input type="radio" name="option" value="0">{{option_one}}</input><br>
                <input type="radio" name="option" value="1">{{option_two}}</input><br>
                <input type="radio" name="option" value="2">{{option_three}}</input><br>
                <input type="radio" name="option" value="3">{{option_four}}</input><br>
                <div>
                    <button id="submit" type="submit" name="submit" value="next">Next question</button>
                </div>
            </div>
        </form>
        </div>
    </body>
</html>
