<html>
    <head>
         <link href="{{ url_for('static', filename='stylesheet.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='game.css') }}" rel="stylesheet"/>
        <title>play</title>
    </head>
    <body>
        <div id="navbar">
            <div id="logo">
                <a href="index">WhoopDeeDoo</a>
            </div>
            <div id="logout"><a href="indexnot">logout</a>
            </div>
            <ul>
                <li id="blue"><a href="play">play</a></li>
                <li><a href="rankings">rankings</a></li>
            </ul>
        </div>
        <div id="question">
            <p>{{question}}</p>
        </div>

        <div id="options">
            <input type="radio" name="option" value="1">{{option_one}}</input><br>
            <input type="radio" name="option" value="2">{{option_two}}</input><br>
            <input type="radio" name="option" value="3">{{option_three}}</input><br>
            <input type="radio" name="option" value="4">{{option_four}}</input><br>
            <div class="form-group">
                <button class="btn btn-default" type="submit" name="submit" value="next">Next question</button>
            </div>
        </div>
    </body>
</html>
