<html>
    <head>
         <link href="{{ url_for('static', filename='stylesheet.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='game.css') }}" rel="stylesheet"/>
        <title>Game</title>
    </head>
    <body>
        <div id="navbar">
            <div id="logo">
                <a href="index">WHOOPDEEDOO</a>
            </div>
            <div id="profile"><a href="profile">profile</a></div>
            <div id="logout"><a href="/">logout</a></div>
            </div>
        </div>
        <div id="redbar">
        <div id="question">
            <p>{{question}}</p>
        </div>
        <div id="where">{{qnumber}} OF 10</div>
        <form action="{{ url_for('game') }}" method="post">
            <div name="answer" id="options">
                <div id="label">1</div><input type="radio" accesskey="1" name="option" value="0"><p>{{option_one}}</p></input><br>
                <div id="label">2</div><input type="radio" accesskey="2" name="option" value="1"><p>{{option_two}}</p></input><br>
                <div id="label">3</div><input type="radio" accesskey="3" name="option" value="2"><p>{{option_three}}</p></input><br>
                <div id="label">4</div><input type="radio" accesskey="4" name="option" value="3"><p>{{option_four}}</p></input><br>
            </div>
            <div id="sec">you have 20 seconds to answer!</div>
            <button id="submit" type="submit" name="submit" value="next" onkeypress="checkDo()">next question</button>
        </form>
        </div>
        <meta http-equiv="refresh" content="20; url={{ url_for('game') }}" method="post"/>
    </body>
</html>
