<html>
    <head>
        <link href="{{ url_for('static', filename='stylesheet.css') }}" rel="stylesheet"/>
        <title>welcome</title>
    </head>
    <body>

        <div id="navbar">
            <div id="logoY">
                <a href="index">WhoopDeeDoo</a>
            </div>
            <div id="logout"><a href="/">logout</a>
            </div>
            <ul>
                <li><a href="play">play</a></li>
                <li><a href="rankings">rankings</a></li>
            </ul>
        </div>

        <div id="title">
            <h1>What is WhoopDeeDoo?</h1>
        </div>

        <div id="text">
            <p>
                WhoopDeeDoo is a fun website for Trivia Quizes. You can collect
                points and try to beat your friends at the game. Click rankings
                for a list of highest scores and click on your name to change
                your name/password or to log out. Press enter to start a game.
            </p>
        </div>

        <form action="play" method="get">
            <input id="submit2" type="submit" value="let's go!"></input>
        </form>

    </body>
</html>
