<html>
    <head>
        <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/indexnot.css">
        <title>welcome</title>
    </head>
    <body>
        <div id="navbar">
            <div id="logoY">
                <a href="index.html">WhoopDeeDoo</a>
            </div>
        </div>
        <div id="title">
            <h1>register & login</h1>
        </div>
        <div id="all">
            <div id="container">
                <div id="boxes">
                    <input id="fill" type="text" placeholder="username"></input>
                    <input id="fill" type="text" placeholder="password"></input>
                    <input id="fill" type="text" placeholder="password once more"></input>
                    <input id="submit" type="submit" value="register"></input>
                </div>
            </div>
            <div id="container">
                <div id="boxes">
                    <input id="fill" type="text" placeholder="username"></input>
                    <input id="fill" type="text" placeholder="password"></input>
                    <input id="submit2" type="submit" value="log in"></input>
                </div>
            </div>
        </div>
    </body>
</html>
