<html>
    <head>
        <link href="{{ url_for('static', filename='stylesheet.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='play.css') }}" rel="stylesheet"/>
        <title>Play</title>
    </head>
    <body>
        <div id="navbar">
            <div id="logo">
                <a href="index">WHOOPDEEDOO</a>
            </div>
            <div id="profile"><a href="profile">profile</a></div>
            <ul>
                <li id="red"><a href="play">play</a></li>
                <li><a href="rankings">rankings</a></li>
            </ul>
        </div>
        <div id="redbar">
        <div id="title">
            <h1>Choose difficulty and category</h1>
        </div>
        <form action="{{ url_for('play') }}" method="post">
                <select name = "difficulty" id="selects">
                    <option value="easy">easy (worth 1 point)</option>
                    <option value="medium" selected="selected">medium (worth 2 points)</option>
                    <option value="hard">hard (worth 3 points)</option>
                </select>
                <select name="category" id="selects2">
                    <option value="0" selected="selected">all categories</option>
                    <option value="09">General Knowledge</option>
                    <option value="10">Books</option>
                    <option value="11">Films</option>
                    <option value="12">Music</option>
                    <option value="13">Musicals & Theatres</option>
                    <option value="14">Television</option>
                    <option value="15">Video Games</option>
                    <option value="16">Board Games</option>
                    <option value="17">Science & Nature</option>
                    <option value="18">Computers</option>
                    <option value="19">Mathematics</option>
                    <option value="20">Mythology</option>
                    <option value="21">Sports</option>
                    <option value="22">Geography</option>
                    <option value="23">History</option>
                    <option value="24">Politics</option>
                    <option value="25">Art</option>
                    <option value="26">Celebrities</option>
                    <option value="27">Animals</option>
                </select>
            <input id="submit2" type="submit" value="start">
        </form>
        </div>
    </body>
</html>
